<div id="wander-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" id="0">
      <img src="/images/railay_photo.jpg" alt="...">
      <div class="carousel-caption">
        <h3>NO WAY MAN</h3>
      </div>
    </div>
    <div class="item" id="1">
      <img src="/images/jailot_map.jpg" alt="...">
      <div class="carousel-caption">
        COOOOL MAP
      </div>
    </div>
    <div class="item" id="2">
      <img src="/images/machu_picchu_image.jpg" alt="...">
      <div class="carousel-caption">
        COOOOL MAP
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#wander-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#wander-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
