@font-face {
  font-family: adventure;
  src: url('../fonts/Adventure.otf');
}

.info {
  height: 30%;
  background: url("../images/jailot_map.jpg");
  background-size: cover;
}

.info h2 {
  position: relative;
  margin-top: 0;
  font-size: 300%;
  top: 50px;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  text-align: center;
}

.devteam {
  display: flex;
  /*height: 30%;*/
  background: rgba(0,0,0,0.6);
  border-radius: 20px;
  padding: 20px;
  margin: 7% auto;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 975px) {
  .info h2 {
    font-size: 225%
  }
}

.devteam div {
  width: 20%;
  color: white;
  text-align: center;
}

.devteam img {
  border-radius: 50%;
  width: 70%;
}

.welcome {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 150px;
  left: -40%;
  right: 0;
  height: 225px;
  width: 35%;
  background: rgba(36, 175, 229, 0.8);
  z-index: 1;
  margin: 0 auto;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-family: courier;
  padding: 20px;
}

.welcome div {
  font-size: 120%;
}

.siteName {
  position: absolute;
  left: 60%;
  color: white;
  top: 200px;
  z-index: 1;
}

.siteName h1 {
  font-family: adventure;
  font-size: 600%;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

@media (max-width: 1080px) {
  .siteName h1 {
    font-size: 400%
  }
}



.features {
  height: 200px;
  background: #ededed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.features > div {
  width: 20%;
  text-align: center;
}

.features > div > img {
  width: 50px;
  height: 50px;
}

.about {
  height: 500px;
  background: url("../images/railay_photo.jpg");
  background-size: 100% 110%;
  background-repeat: no-repeat;
}

.carousel-inner{
  width:100%;
  max-height: 500px !important;
}

.item {
  height: 100%;
}

@media (max-width: 1100px) {
  .welcome {
    width: 40%;
  }

  .welcome div {
    font-size: 100%;
  }
}


