/*html, body{
  height: 100%;
}

ul.footer{
  margin-top:10px;
  text-align:center;
}

ul.footer li{
  color:#333;
  display:inline-block;
}


#footer{
  bottom: -50px;
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
  margin-top: 50px;
}
*/
