<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
<%- include('../partials/navbar') %>
 <%- include('../partials/header', {subHeading: 'ROOT'}) %>
  <div id="about">
    <h1>Wander</h1>
    <p>We are a company that prides ourselves with providing excellent service
       and providing our users with the best.</p>
  </div>
<%- include('../partials/footer') %>
</body>
</html>
