<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%- include('../partials/head') %>
</head>
<body>
<%- include('../partials/navbar') %>
 <%- include('../partials/header', {subHeading: 'ROOT'}) %>
  <div id="about">
    <h1><em>Wander</em></h1>
    <p>We are a company that prides ourselves with providing excellent service
       and providing our users with the best.</p>
  </div>
<%- include('../partials/footer') %>
</body>
</html>
