<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/feed.css">
  <%- include('../partials/scripts') %>
  <script src="/js/carousel.js"></script>
</head>
<body>
  <header>
    <%- include('../partials/navbar') %>
  </header>
  <main>
    <%- include('../partials/carousel') %>
    <div class="features">
      <div>
        <h4>Travel</h4>
        <p>
          Embark on your adventure! Wander will remind you where you've
          been.
        </p>
        <img src="/images/trip_icon.png" alt="">
      </div>
      <div>
        <h4>Capture</h4>
        <p>
          Take pictures just like you always do! No extra work required.
        </p>
        <img src="/images/camera_icon.png" alt="">
      </div>
      <div>
        <h4>Share</h4>
        <p>
          You went where? Wander helps you visualize your trip.
        </p>
        <img src="/images/share_icon.png" alt="">
      </div>
    </div>
    <div class="info">

    </div>
<!--     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <pre>
      Wander was designed by people who have a love for culture and travel.
      It is an app that will allow you to capture your memories and save them
      to an album.
      This album will show your photos, and the route
      you took by embedding the images into a google map view.
      This will allow you to see the route you took and each place you took a photo.
      To start, log in with your flicker account and create your first memory.
      </pre>
    </div> -->
<!--     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="/images/map_screenshot.png" alt="">
    </div> -->
  </main>
</body>
</html>
