<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/feed.css">
  <%- include('../partials/scripts') %>
  <script src="/js/carousel.js"></script>
</head>
<body>
  <header>
    <%- include('../partials/navbar') %>
  </header>
  <main>
    <div class="welcome">
      <div>
        Welcome to Wander! Sign-up or log in through Flickr above to begin
        visualizing your journeys. Create a unique visualization of your
        travels quickly and easily! Choose a Flickr photo album to convert
        and you're done! Photos alone don't tell the whole story,
        show everyone where you've wandered!
      </div>
    </div>
    <div class="siteName">
      <h1>WANDER</h1>
    </div>
    <%- include('../partials/carousel') %>
    <div class="features">
      <div>
        <h4>Travel</h4>
        <p>
          Embark on your adventure! Wander will remind you where you've
          been.
        </p>
        <img src="/images/trip_icon.png" alt="">
      </div>
      <div>
        <h4>Capture</h4>
        <p>
          Take pictures just like you always do! No extra work required.
        </p>
        <img src="/images/camera_icon.png" alt="">
      </div>
      <div>
        <h4>Share</h4>
        <p>
          You went where? Wander helps you visualize your trip.
        </p>
        <img src="/images/share_icon.png" alt="">
      </div>
    </div>
    <div class="info">
      <h2>Wander Development Team</h3>
      <div class="devteam">
        <div>
          <img src="/images/stephen.png" alt="">
          <p>
            Stephen Kempisty<br>GitHub Manager
          </p>
        </div>
        <div>
          <img src="/images/kyle.png" alt="">
          <p>
            Kyle Firstenburg<br>SCRUM Master
          </p>
        </div>
        <div>
          <img src="/images/wen.png" alt="">
          <p>
            Wen Jen <br> Project Developer
          </p>
        </div>
        <div>
          <img src="/images/alex.png" alt="">
          <p>
            Alex Alexsanyan <br> Project Developer
          </p>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
